<?xml version="1.0"?>
<!--人体跟踪-->
<launch>
    <include file="$(find jetauto_peripherals)/launch/depth_cam.launch"/>
    <include file="$(find jetauto_controller)/launch/jetauto_controller.launch"/>
    <include file="$(find jetauto_peripherals)/launch/lidar.launch"/>

    <rosparam file="$(find jetauto_example)/config/yolov5_bridge.yaml"   command="load"/>
    <arg name="node_name" default="yolov5" />
    <rosparam param="/$(arg node_name)/classes">["crack"]</rosparam>


    <node pkg="jetauto_example" type="yolov5_node.py" name="$(arg node_name)" output="screen">
        <param name="use_depth_cam" value="true"/>
        <param name="engine"        value="yolov5n_crack.engine"/>
        <param name="lib"           value="libmyplugins_640.so"/>
        <param name="conf_thresh"   value="0.5"/>
    </node>



</launch>
